__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hydra
mlruns/
logs/
artifacts/
tmp/
LICENSE
README.md
notebooks/
catboost_info/
wandb/
experiments/
.dvc/cache
.dvc/tmp
models/
